Repository WookieeMatt/Essence20, pull requests merged in 2023-03, with the labels that each got.

#257 Initiative rolls trigger roll dialog; modifier input; migration
  css/essence20.css
  module/dice.mjs
  module/documents/actor.mjs
  module/documents/combatant.mjs
  module/essence20.mjs
  module/helpers/templates.mjs
  module/migration.mjs
  module/sheets/actor-sheet.mjs
  sass/actors/_initiative-containers.scss
  system.json
  template.json
  templates/actor/parts/actor-initiative.hbs
  templates/actor/parts/actor-zord-skills.hbs
Labels: migration

#295 Added Spells Tab
  css/essence20.css
  lang/en.json
  module/helpers/config.mjs
  module/helpers/templates.mjs
  module/sheets/actor-sheet.mjs
  sass/actors/_pony-sheet.scss
  template.json
  templates/actor/actor-pony-sheet.hbs
  templates/actor/parts/actor-spells.hbs
  templates/actor/parts/items/spell/container.hbs
  templates/actor/parts/items/spell/details.hbs
  templates/item/item-spell-sheet.hbs
Labels: my little pony

#303 Spells can now be specialized
  module/sheets/actor-sheet.mjs
  template.json
  templates/actor/parts/items/spell/container.hbs
Labels: my little pony

#308 Adding Magic Bauble to MLP
  lang/en.json
  module/dice.mjs
  module/dice.test.js
  module/documents/item.mjs
  module/helpers/templates.mjs
  module/sheets/actor-sheet.mjs
  template.json
  templates/actor/actor-pony-sheet.hbs
  templates/actor/parts/items/magicBauble/container.hbs
  templates/actor/parts/items/magicBauble/details.hbs
  templates/item/item-magicBauble-sheet.hbs
Labels: my little pony

#338 Update en.json
  lang/en.json
Labels: bug
